
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo:wght@100;400;800&family=Roboto+Mono:wght@200&display=swap');

/*
 
font-family: 'Anton', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Roboto Mono', monospace;

*/

/* para definir variáveis globais ou personalizadas, conhecidas como CSS Custom Properties ou CSS Variables.*/
:root { 
    --titles: #cb6600;
    --background: #f2f2f2;
    --background2: #4c4c4c;
    --geral: #333;
}

body{
    overflow-x: hidden;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h2, h3, h4, a, button{
    color: var(--titles);
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
*{
    font-size: 20px;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.menu-fixo{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 252, 252, 0.9);
    box-shadow: 0px 5px 10px #0000004a;
}
.topo nav ul {
    display: flex;
}

.topo div ul {
    display: flex;
}

.topo h1 {
    background: url(../img/logo01.svg) no-repeat;
    width: 300px;
    height: 52px;
    text-indent: -9999px;
}
.topo div nav{
    display: flex;
    align-items: center;
}
button.fechar-menu, button.abrir-menu{
    display: none;
}
.menu a {
    font-family: 'Anton', sans-serif;
    color: var(--geral);
    text-decoration: none;
    padding: 10px 40px;
    margin-right: 10px;
    border-radius: 5px 10px;
    text-transform: uppercase;
    font-size: 24px;
}

.menu a:hover {
    color: var(--titles);
}

.ativo {
    color: var(--titles) !important;
}


.redeSocialTodo {
    text-align: center;
}

.redeSocialTodo button {
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    color: var(--geral);
    font-weight: bold;
    background: var(--titles);
    border: 0;
    font-size: 18px;
    padding: 5px 40px;

}

.redeSocialTodo a {
    text-decoration: none;
    padding: 10px 18px;
    background: var(--geral);
    border-radius: 50px;
    display: block;
    text-indent: -9999px;
    margin-right: 10px;
}

.redeSocialTodo ul li:nth-child(1) a {
    background: url(../img/redeSocial/facepreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(1) a:hover {
    background: url(../img/redeSocial/facebook.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(2) a {
    background: url(../img/redeSocial/instaPreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(2) a:hover {
    background: url(../img/redeSocial/instagram.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(3) a {
    background: url(../img/redeSocial/WhatsPreto.svg) no-repeat;
}

.redeSocialTodo ul li:nth-child(3) a:hover {
    background: url(../img/redeSocial/WhatsVerde.svg) no-repeat;

}
.redeSocialTodo ul li:last-child a {
    margin-right: 0;
}

.banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

/*setas carroussel*/
.banner .slick-next {
    right: 40px;
}

.banner .slick-prev {
    left: 25px;
    z-index: 99;
}

.banner .slick-next:before, .banner .slick-prev:before {
    font-size: 40px;
    color: var(--titles);
}

/* dots */

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 100px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: var(--background);
}
#sobre {
    padding: 50px 0;
}

#sobre div {
    display: flex;
    justify-content: space-around;
}

#sobre div div {
    flex-direction: column;
    width: 45%;
    justify-content: flex-start;
}

#contSobre{
    border: solid thin var(--geral);
    border-radius: 25px;
    padding: 20px 5px;
    text-align: center;
}

#contSobre h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--titles);
    margin-bottom: 50px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

#contSobre p {
    font-size: 20px;
    line-height: 35px;
    flex-grow: 1;
}

#contSobre button {
    align-self: end;
    cursor: pointer;
    background: var(--titles);
    color: var(--geral);
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contSobre button:hover {
    background: var(--geral);
    color: var(--background);
}

#sobre img {
    width: 100%;
}


#servico {
    padding: 50px 0;
    text-align: center;
    background: url(../img/fundo.jpg) no-repeat center;
    background-attachment: fixed; 
    min-height: 500px;
}

#servico h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

#servico div div {
    display: flex;
    justify-content: space-around;
}

#servico div div div {
    width: 25%;
    flex-direction: column;
    background: var(--background);
    padding: 20px;
    border-radius: 50px;
    border-top: solid 5px var(--titles);
}

#servico div div div h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

#servico img {
    width: 100%;
    margin-bottom: 25px;
}

#servico div div div p {
    font-size: 20px;
    line-height: 25px;
    flex-grow: 1;
    padding-bottom: 80px;
}

#servico div div div button {
    align-self: end;
    cursor: pointer;
    background: var(--titles);
    color: var(--background);
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
}

#servico div div div button:hover {
    background: var(--geral);
    color: var(--background);
}

.galeria{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.galeria img{
    margin: 15px;
}

.depoimento{
    padding: 50px 0;
    text-align: center;
    background: url(../img/fundo.jpg) no-repeat center;
    background-attachment: fixed; 
    
}

.depoimento h2{
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.depoimento div div{
    display: flex;
    justify-content: center;
}

.depoimento div div img{
    width: 25%;
}

.depoimento div div div{
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
    background: var(--background);
    border-radius: 50px;
    margin-left: 30px;
}

.depoimento div div div img{
    width: 10%;
    border-radius: 50px;
    background: var(--background);
    margin: 0 auto;
}

.depoimento div div div div{
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin-left: 0;
}

/*blog*/

.blog{
    padding: 50px 0px;
    text-align: center;
}
.blog div h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.blog img{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}

.blog div div{
    display: flex;
    justify-content: space-around;
}

.blog div div div {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(115, 112, 112);
    padding: 20px;
    border-top: solid 5px var(--titles);
    border-radius: 50px;
}

.blog div div div h3{
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.blog div > p{
    font-size: 20px;
    line-height: 25px;
    color: var(--background);
    padding-bottom: 80px;
}

.blog div div div button{
    align-self: end;
    cursor: pointer;
    background: var(--titles);
    color: var(--background);
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
}


.blog div div div button:hover{
    background: var(--geral);
    color: var(--background2);
}

/* informaçoes */

#informacoes{
    background: url(../img/fundo.jpg) no-repeat center;
    background-attachment: fixed;
    padding-top: 50px;
}

#informacoes a {
    display: block;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: var(--background2);
    text-decoration: none;
}

#informacoes div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


#informacoes div div{
        display: flex;
        width: 45%;
        flex-direction: column;
        align-items: center;
        background: var(--background);
        align-items: center;
        margin-top: 20px;
        padding: 20px;
        border-radius: 50px;
        border-top: solid 5px var(--titles);
}

#informacoes ul li {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

#informacoes ul li{
    margin-bottom: 10px;
}



#informacoes div:nth-child(2) a {
    display: block;
    letter-spacing: 2px;
    font-size: 20px;
    color: var(--background2);
    text-decoration: none;

}

#informacoes div:nth-child(2) a:hover{
    color: var(--titles);
}


#informacoes img {
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*teste */

.redeSocialInfo{
    display: flex;
    justify-content: center;
}

.redeSocialInfo a {
    text-decoration: none;
    padding: 10px 18px;
    background: var(--geral);
    border-radius: 50px;
    display: block;
    text-indent: -9999px;
    margin-right: 10px;
}


.redeSocialInfo  li:nth-child(1) a{
    background: url(/img/redeSocial/facebook.svg) no-repeat;
}

.redeSocialInfo  li:nth-child(2) a {
    background: url(/img/redeSocial/instagram.svg) no-repeat;
}

.redeSocialInfo  li:nth-child(3) a {
    background: url(/img/redeSocial/WhatsVerde.svg) no-repeat;

}

#informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
}



#informacoes h5{
    padding: 5px;
    font-weight: bold;
}

.rodape div:nth-child(1){
    width: 100%;
    color: var(--background2);
    text-align: center;
    padding: 15px;
    font-weight: 900;
}
.rodape div:nth-child(2){
    width: 100%;
    color: var(--background);
    text-align: center;
    padding: 15px;
    font-weight: 900;
    background-color: var(--background2);
}
.rodape h5:nth-child(2){
    letter-spacing: 2px;
    font-weight: 200;
}
.rodape h5:nth-child(3){
    color: var(--background);
    letter-spacing: 2px;
    font-weight: 200;
}

.rodape2 ul {
    padding: 50px;
}

/*Contato*/

.form{
    padding:  50px 0;
    text-align: center;
    background-color: #f2f2f2;
}

.form h2{
    font-size:  30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

.form form{
    display: flex;
    justify-content: space-around;
    padding: 2.5%;
    border: solid 1px var(--background2);
    border-radius: 25px;
}
.form form div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form input, .form textarea{
    width: 98%;
    padding: 2% 0;
    margin-bottom: 5%;
    background-color: #fff;
    color: var(--titles);
    font-size: 1em;
    font-weight: 500;
    border: solid 1px;
    text-indent: 10px;
}
.form textarea{
    resize: none;
    height: 175px;
}
.form form div:nth-child(2){
    display: flex;
    /* flex-direction: row; */
    width: 98%;
}

.form input::placeholder, .form textarea::placeholder{
    color: var(--titles);
    font-size: 1em;
    text-indent: 10px;
}
/*colchetes para espicificar qual elemento está sendo
utilizado, no caso submit*/
.form form input[type=submit], .form form button{
    width: 45%;
    color: var(--geral);
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    background-color: var(--titles);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    border: solid 1px var(--geral);
}
.form form input[type=submit]:hover, .form form button:hover{
    background: var(--geral);
    color: var(--titles);
}
