/*As media queries permitem definir regras de estilo específicas para diferentes tipos de dispositivos ou 
condições de exibição, como a largura da tela, altura, orientação, resolução, densidade de pixels...*/

/* 1200px PC*/


/* 601 até 900 para Notbook */
@media (max-width: 900px) { /*max-width define a largura máxima. Os conteúdos abaixo serão aplicados
    quando a largura da tela for igual ou menor que 900 pixels*/
    button.fechar-menu, button.abrir-menu{
        display: none;
    }
    button.slick-next { /*estava causando quebra no responsivo mesmo colocando display none, tive colocar  !important para forçar
        o desapareciomento dos dois button*/
        display: none!important;  
    }
    button.slick-prev {
        display: none!important;  
    }

    .topo{
        flex-direction: column;
    }
    .topo h1{
        margin: 5% 0;
    }
    .topo div nav{
        display: flex;
        align-items: center;
    }
    #contSobre p {
        line-height: 25px; 
    }
    
    /*depoimento*/

    .depoimento{
        padding: 50px 0;
        text-align: center;
        background: url(../img/fundo.jpg) no-repeat center;
        background-attachment: fixed; 
        
    }
    
    .depoimento h2{
        margin-bottom: 50px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 30px;
    }
    
    .depoimento div div{
        flex-direction: column;
        align-items: center;
    }
    
    .depoimento div div img{
        width: 25%!import;
        margin-bottom: 50px;
    }
    
    .depoimento div div div{
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        padding: 20px;
        background: #f2f2f2;
        border-radius: 30px;
        margin-left: 30px;
    }
    
    .depoimento div div div img{
        width: 10%;
        border-radius: 50px;
        background: #ccc;
        margin: 0 auto;
    }
    
    .depoimento div div div div{
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    /*rodape*/
    .rodape div:nth-child(1){
        padding: 0;
    }
    .rodape div:nth-child(2){
        padding: 0;
    }

}




/* 601 até 900 para Not FIM */
@media not all and (max-width: 600px){ /* "not all" é uma forma de negar uma condição em uma consulta de
     mídia em CSS. Ela é usada para aplicar estilos apenas quando a condição especificada não é atendida.*/
    .abrir-menu, 
    fechar-menu{
        display: none;
    }
}


/* 0 até 600 para Celular INICIO*/
    @media (max-width: 600px){
        button.slick-next {
            display: none!important;  
        }
        button.slick-prev {
            display: none!important;  
        }
        button.fechar-menu, button.abrir-menu{
            display: block;
        }
        .topo {
            justify-content: space-around;
            margin-top: 5%;
            flex-direction: row;
        } .topo div nav{
            align-items: center;
            flex-direction: column;
        }
        .menu{
            top: 0;
            background-color: rgba(76, 76, 76, 0.95);
            height: 100%;
            position: fixed;
            margin: 0;
            max-width: 350px;
            width: 50%;
            z-index: 10;
            right: -350px;
            transition: all 0.5s ease-out;
        }

        .menu-ativo .menu{
            right: 0;
        }
        .menu ul{
            flex-direction: column;
        }
        .menu ul li{
            margin:  5% 0;
        }
        .menu a{
            color: #fff;
            padding: 3px;
        }
        .redeSocialTodo {
            margin-top: 15% auto;
        }

        .redeSocialTodo ul{
            flex-direction: row;
            justify-content: center;
        }
        .redeSocialTodo a{
            padding: 15px;
        }
        .abrir-menu{
           background-image: url(../img/btn-menu.png);
           background-size: cover;
           padding: 20px;
           border: 0;
           display: block;
        }
        .fechar-menu{
            background-image: url(../img/btn-fechar.png);
           background-size: cover;
           padding: 20px;
           border: 0;
           display: block;
           margin: 5%;
        }
        .banner{
            display: none;                  
        }
        *sobre*/

        #sobre {
            padding: 50px 0;
        }
        
        #sobre div {
            flex-direction: column-reverse;
            align-items: center;
        }
        
        #sobre div div {
            width: 95%;
            justify-content: flex-start;
        }
        
        #contSobre{
            border: solid thin #333;
            border-radius: 25px;
            padding: 20px 5px;
            text-align: center;
        }

        #sobre img {
            width: 100%;
            margin-bottom: 5%;
        }

        /*servicos*/
        #servico div div {
            flex-direction: column;
            align-items: center;
        }
        
        #servico div div div {
            width: 85%;
            margin-bottom: 5%;
        }

        /*galeria*/
        .galeria{
            padding: 2px;
            display: flex;
            justify-content: space-around;
        }
        .galeria img{
            margin: 5px;
        }
        button.slick-next{
            display: none;
        }
        /*depoimento*/

        .depoimento p{
            font-size: 10px;
        }

        /*dots*/
        .slick-dots li button{
            display: none;
        }
        /*blog*/
        
        .blog div div div {
            width: 85%;
            margin-bottom: 5%;

        }
        
        .blog div div{
            flex-direction: column;
            align-items: center;
           
        }
        .blog img{
            width: 200px;
            height: 200px;
            margin-bottom: 25px;
        }

        /* informaçoes */
        h2, h3, h4, a, button{
            font-size: 15px;
        }

        #informacoes div {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        #informacoes div div{
                width: 85%;
        }

        #informacoes div:nth-child(2) a {
            font-size: 15px;      
        } 
        /*rodape*/
        .rodape div:nth-child(1){
            padding: 2% 0;
        }
        .rodape div:nth-child(2){
            padding: 2% 0;
        }
    }


/* 601 até 900 para Celular FIM */

/*900 até 1200*/
@media (max-width: 1200px){
    button.slick-next{ 
    display: none;
}

 /*rodape*/
 .rodape div:nth-child(1){
    padding: 0;
}
.rodape div:nth-child(2){
    padding: 0;
}
}